altgraph==0.17.5
asttokens==3.0.1
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
ci-info==0.4.0
colorama==0.4.6
comm==0.2.3
debugpy==1.8.20
decorator==5.3.1
docopt==0.6.2
dotenv==0.9.9
et_xmlfile==2.0.0
executing==2.2.1
h11==0.16.0
idna==3.15
ipykernel==7.2.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jupyter_client==8.8.0
jupyter_core==5.9.1
looseversion==1.3.0
matplotlib-inline==0.2.2
nest-asyncio==1.6.0
numpy==2.4.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==26.2
pandas==3.0.3
parso==0.8.7
pefile==2024.8.26
pipreqs==0.4.13
platformdirs==4.9.6
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
pycparser==3.0
Pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PyMuPDF==1.27.2.3
pypdf==6.11.0
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pywin32==311
pywin32-ctypes==0.2.3
pyzmq==27.1.0
requests==2.34.2
scipy==1.17.1
selenium==4.44.0
setuptools==82.0.1
simplejson==4.1.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
stack-data==0.6.3
tornado==6.5.5
traitlets==5.15.0
traits==7.1.0
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
wcwidth==0.7.0
websocket-client==1.9.0
wsproto==1.3.2
yarg==0.1.10
