#formulario #erroSenha {
    text-align: center;
    color: var(--cor-texto);
    margin: -0.5em 0 1em 0;
    background: orangered;
    border-radius: 15px;
    font-weight: bold;
}


#mensagemCadastro {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

#mensagemCadastro.mensagemSucesso {
    color: var(--cor-sucesso);
}

#mensagemCadastro.mensagemErro {
    color: var(--cor-vermelho);
}