.grupo_campo_filtro_dashboard {
    display: flex;
    gap: 2em;
}
.grupo_campo_filtro_dashboard select {
    cursor: pointer;

}

.grupo_campo_filtro_dashboard select:hover {
    background: var(--cor-fundo-preto);
    color: var(--cor-texto-hover);
    transition: .3s ease-in-out;}

.grupo_campo_filtro_dashboard select:hover option {
    background: var(--cor-principal);
    color: var(--cor-texto);
    transition: .3s ease-in-out;
}
.btn-filtrar {
    padding: 0.4em;
    border-radius: 15px;
    border: 1px solid var(--cor-borda-azul);
    background: var(--cor-gradiente-2);
    color: var(--cor-texto);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.cards_dashboard,
.insights_dashboard {
    margin: 1em 0;
}

.cards_dashboard {
    display: flex;
    gap: 1.7em;
    flex-direction: column;
}
.cards_dashboard .card_dashboard {
    padding: .9em;
    color: var(--cor-texto);
    border-radius: 30px;
    background-image: linear-gradient(to right, var(--cor-gradiente-1), var(--cor-gradiente-2), var(--cor-gradiente-3));
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
    border: 2px solid var(--cor-vermelho-escuro);
    box-shadow: 2px -2px 7px 0px var(--cor-turquesa);
}

.cards_dashboard .card_dashboard h3 {
    background: var(--cor-fundo-preto);
    color: var(--cor-texto);
    border-radius: 2em;
    margin: 0 auto .5em;
    width: 45%;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--cor-turquesa);
    box-shadow: 1px -1px 4px 1px var(--cor-texto-preto);
}

.cards_dashboard .card_dashboard span {
    font-size: 1.1em;
    color: var(--cor-texto);
    font-weight: bold;
}

.insights_dashboard {
    display: flex;
    flex-direction: column;
}   

.insights_dashboard h3 {
    text-align: center;
    background: var(--cor-fundo-overlay);
    color: var(--cor-texto);
    border-radius: 2em;
    width: 75%;
    padding: 0.2em;
    margin: 2em auto 0;
}
.insights_dashboard .grafico_dashboard {
    width: 100%;
}
