/* CLASSE FORMULARIO SE REFERE A TAG SECTION NO HTML */
.formulario{
    background-color: var(--cor-fundo-campo);
    padding: 1em;
    border-radius: 15px;
}
/* ID FORMULARIO SE REFERE A TAG FORM NO HTML */
form {
    display: flex;
    flex-direction: column;
    min-height: 25vh;
}
form .grupo_campo {
    display: flex;
    flex-direction: column;
    min-width: 0 ;
    margin-bottom: .3em;
    width: 100%;
}

form .campo_data {
    position: relative; 
}
form .campo_data input {
    background: var(--cor-principal);
    color: var(--cor-principal-transparente);
    outline: none;
    border-radius: 12px;
}
form .campo_data input:focus,
form .campo_data input.tem_valor {
    color: var(--cor-texto);
}
form .campo_data label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto);
    font-weight: bold;
    pointer-events: none;
    transition: .2s;
    width: 100%;
    font-size: .9em;
}
form .campo_data:focus-within label,
form .campo_data label.escondida {
    opacity: 0;
}
 

form input::placeholder{
    color: var(--cor-texto);
}
form input, 
.botoes_formulario button,
input:not([type="checkbox"]){
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    text-align: center;
    margin-bottom: 1em;
    padding: .6em;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
}

.descricao_importacao {
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
}
#arquivoOFX {
    display: none;
}
#labelArquivo {
    display: inline-block;
    width: 100%;
    margin: 1em 0;
    cursor: pointer;
}
#labelArquivo:hover {
    background: var(--cor-fundo-preto);
    color: var(--cor-texto-hover);
    transition: background-color .3s ease-in-out;
}

#enviar_formulario,
#btn_editar,
#botaoImportarOfx,
#btn_excluir,
#labelArquivo,
select,
input:not([type="checkbox"]) {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    text-align: center;
    margin-bottom: 1em;
    padding: .6em;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .8em;
    border: 2px solid var(--cor-borda-verde-clara);
    box-shadow: 2px -2px 7px 1px var(--cor-roxo);
}
#btn_editar, 
#btn_excluir,
#btnCancelar {
    background: var(--cor-gradiente-2);
    transition: background .3s ease-in-out;
}

#btn_editar:hover, 
#btn_excluir:hover,
#btnCancelar:hover {
    background: var(--cor-fundo-preto);
    color: var(--cor-texto-hover);
    
}
details {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    padding: .6em;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    margin-bottom: 1em;
    border: 2px solid var(--cor-borda-verde-clara);
    box-shadow: 2px -2px 7px 1px var(--cor-roxo);
}

optgroup{
    text-align: center;
    font-size: 1.2em;
}
optgroup option{
    text-align: center;
    font-size: .8em;
}

details {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    padding: .6em;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    margin-bottom: 1em;
}

details label {
    color: var(--cor-texto) !important;
    text-align: left !important;
    width: 100%;
    padding: .5em;
}

details summary {
    cursor: pointer;
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details .grupo_responsavel {
    margin-top: 1em;
    padding: 1em;
    font-size: 1em;
}
details .opcao_checkbox {
    display: flex;
    gap: .5em;
    margin: .4em 0;
    align-items: center;
    border: 1px solid var(--cor-texto);
    background-color: var(--cor-principal);
    margin-top: .5em;
    padding-left: .5em;
    border-radius: 8px;
}
details .linha_checkbox {
    display: flex;
    gap: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    width: 100%;
}

.opcao_checkbox input {
    width: auto !important;
    margin-bottom: 0 !important;
}

.opcao_checkbox span {
    color: var(--cor-texto);
    text-align: left;
}

#enviar_formulario {
    margin-top: auto;
    cursor: pointer;
    border: 1px solid var(--cor-borda-azul);
    background: var(--cor-gradiente-2);
    color: var(--cor-texto);
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in;
}


#enviar_formulario:hover {
    background: var(--cor-gradiente-3)

}