header{
    color: var(--cor-texto);
    text-align: end;
    background-image: linear-gradient(to right, var(--cor-gradiente-1),var(--cor-gradiente-2) , var(--cor-gradiente-3));
}
.menu_navegacao {
    display: flex;
    justify-content: space-between;
}
nav a:hover {
    text-decoration: underline;
    color: var(--cor-texto-hover);
    cursor: pointer;
    
}

.homepage_navegacao {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    font-weight: bold;
}
.homepage_navegacao a {
    background-image: linear-gradient(to right, var(--cor-gradiente-1),var(--cor-gradiente-2) , var(--cor-gradiente-3));
    padding: 1.4em;
    border-radius: 15px;
    border: 2px solid var(--cor-vermelho-escuro);
    box-shadow: 2px -2px 7px 0px var(--cor-turquesa);
}
.homepage_navegacao a:hover {
    transform: scale(.9);
    box-shadow: 2px -2px 7px 3px var(--cor-turquesa);

}