header{
    color: white;
    text-align: end;
    background-image: linear-gradient(to right, #18E474,#19AEA2 , #2F85E8);
}
.menu_navegacao {
    display: flex;
    justify-content: space-between;
}
nav a:hover {
    text-decoration: underline;
    color: #000E32;
    cursor: pointer;
}

.homepage_navegacao {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    font-weight: bold;
}
.homepage_navegacao a {
    background-image: linear-gradient(to right, #18E474,#19AEA2 , #2F85E8);
    padding: 1.4em;
    border-radius: 15px;
}