.menu_lateral_navegacao {
    left: -81vw;
    overflow: hidden;
    width: 75vw;
    background: linear-gradient(45deg, var(--cor-gradiente-1),var(--cor-gradiente-2) , var(--cor-gradiente-3));
    padding: 1em 1em 1em 0.6em;
    box-shadow: 15px 6px 20px 0px var(--cor-cinza-sombra);
    z-index: 100;
    height: 100%;
    position: fixed;
    transform: translateY(-.2em);
    transition:
        opacity .25s ease,
        transform .25s ease;

}

.menu_lateral_navegacao.ativo {
    overflow: visible;
    opacity: 1;
    transform: translateX(81vw);
}

#fechar_menu_lateral {
    width: 2em;
    border-radius: 50%;
    border: none;
    height: 2em;
    font-size: 1.5em;
    color: var(--cor-texto);
    background: var(--cor-texto-preto);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    box-shadow: 1px 2px 7px 5px var(--cor-cinza-sombra-transparente);
}
.menu_lateral_navegacao .navegar_rotas {
    display: flex;
    gap: 2em;
    flex-direction: column;
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5em;
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes p {
    background: var(--cor-teal);
    border-radius: 15px;
    padding: .3em .6em;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes p:hover,
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes p:hover a {
    background: var(--cor-fundo-preto);
    color: var(--cor-texto-hover);
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes > a {
    background: grey;
    border-radius: 15px;
    padding: .2em .6em;
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes .navegar_rotas_secao {
    display: inline-block;
    position: absolute;
    right: .5em;
    transition: transform .25s ease;
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes .navegar_rotas_submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-.2em);
    text-indent: 1em;
    transition:
        max-height .25s ease,
        opacity .25s ease,
        transform .25s ease;
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes .navegar_rotas_submenu.ativo {
    max-height: 20em;
    opacity: 1;
    transform: translateY(0);
}
.menu_lateral_navegacao .navegar_rotas .navegar_rotas_secoes .navegar_rotas_secao.ativo {
    transform: rotate(90deg);
}


.menu_lateral_navegacao .perfil_usuario {
    color: var(--cor-texto);
    padding: 1em .6em;
    border-radius: 15px;
    margin: 1.5em 0;

    text-align: left;
    font-weight: bold;

}
.menu_lateral_navegacao .perfil_usuario span:hover{
    color: var(--cor-texto);

}
.menu_lateral_navegacao .perfil_usuario legend {
    padding: 0 .4em;
    max-width: 100%;
    white-space: normal;  /* Garante que o texto quebre linhas normalmente */
}



.menu_lateral_navegacao .navegar_rotas,
.menu_lateral_navegacao .perfil_usuario {
    width: 95%;
}
.menu_lateral_navegacao .perfil_usuario strong{
    font-weight: bold;
}
.menu_lateral_navegacao .perfil_usuario span {
    color: var(--cor-texto-hover);
}


.menu_hamburguer {
    width: 30px;
    height: 20px;

    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.menu_hamburguer span {
    width: 100%;
    height: 2px;
    background: var(--cor-fundo);
    border-radius: 20px;

    transition: .3s ease;
}


