.botoes_acoes_lancamentos {
    display: flex;
    justify-content: end;
    margin-bottom: 1em;
    gap: 1em;
}
.botoes_acoes_lancamentos button {
    padding: .6em;
    border-radius: 11px;
    border: 1px solid var(--cor-sucesso-verde);
    background: linear-gradient(45deg, var(--cor-sucesso-verde-claro), var(--cor-sucesso-verde-claro), var(--cor-sucesso-verde));    
    font-weight: bold;
    color: var(--cor-texto);
    box-shadow: 2px -3px 9px var(--cor-brilho-verde);
}
.botoes_acoes_lancamentos button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, var(--cor-sucesso-verde-escuro), var(--cor-fundo-preto)f2, var(--cor-fundo-preto));
    box-shadow: 2px -3px 9px var(--cor-sucesso-verde-medio);
}


table {
    width: 100%;
    border-collapse: separate;
    border-radius: 1em;
    border: 1px solid var(--cor-texto-preto);
    overflow: hidden;
    border-spacing: 0;
}

th, td {
    border: 1px dotted var(--cor-borda-cinza);
    padding: 8px;
    text-align: center;
}
th {
    background-color: var(--cor-texto-preto);
    color: var(--cor-texto);
    text-align: center;
}
table .tabela_cabecalho {
    cursor: pointer;
}
.tabela_cabecalho.ordem-asc {
    color: var(--cor-sucesso-verde);
}

.tabela_cabecalho.ordem-desc {
    color: var(--cor-vermelho-claro);
}

table .badge-tipo.credito{
    background:var(--cor-fundo-verde-claro);
    color:var(--cor-sucesso-texto);
}

table .badge-tipo.debito{
    color: var(--cor-vermelho-claro);
}
table .col-item {
    max-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table .col-data-vencimento,
table .col-data-compra {
    max-width: 4.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-valor {
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: center;
    vertical-align: middle;
}

.col-valor span {
    display: inline-block;
    width: 8em;
    text-align: right;
}

input.btn-liquidar {
    vertical-align: middle;
    margin: 0;
    margin: 0;
    flex-shrink: 0;
}

.linha-total {
    background: var(--cor-texto-preto);
    color: var(--cor-texto);

}
