@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.container {
    padding: 1em;
}
header{
    color: white;
    text-align: end;
    background-image: linear-gradient(to right, #18E474,#19AEA2 , #2F85E8);
}

h1 {
    text-align: center;
    font-size: 1.8em;
    margin: .4em 0 1.2em 0;
}

.formulario{
    background-color: #D9F0EE;
    padding: 1em;
    border-radius: 15px;
}
#formulario {
    display: flex;
    flex-direction: column;
    min-height: 40vh; 
}
#formulario .grupo_campo {
    display: flex;
    flex-direction: column;
}

#formulario #data_vencimento {
    display: none;
}
#formulario input, #enviar_formulario, select{
    background-color: #000e32b0;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    padding: .6em;
    width: 100%;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}
#formulario input:valid, select:valid {
    background-color: #000e32;

}

#formulario input::placeholder{
    color: white;
}

#enviar_formulario {
    margin-top: auto;
    cursor: pointer;
}





.menu {
    position: fixed;
    right: 3em;
    bottom: 6em;
}

.toggle {
    position: absolute;
    width: 2em;
    height: 2em;
    background: #000E32;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2em;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(37, 99, 235, 0.5);
}

.menu.active .toggle {
    transform: translate(-50%, -50%) rotate(45deg);
}

.item {
    position: absolute;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    background: #000E32;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    opacity: 0;
    box-shadow: rgba(37, 99, 235, 0.5) 0px 0px 15px;
}

/* MENU ABERTO */
.menu.active .item {
    opacity: 1;
}
.item svg {
    width: 28px;
    height: 28px;
    fill: white;
}

/* DASHBOARD */
.menu.active .item:nth-child(2) {
    transform: translate(-50%, -50%) translate(-20px, -110px);
}

/* CONTAS A PAGAR */
.menu.active .item:nth-child(3) {
    transform: translate(-50%, -50%) translate(-90px, -75px);
}

/* FORMA DE PAGAMENTO */
.menu.active .item:nth-child(4) {
    transform: translate(-50%, -50%) translate(-120px, -10px);
}

/* CATEGORIA */
.menu.active .item:nth-child(5) {
    transform: translate(-50%, -50%) translate(-80px, 55px);
}

/* HOVER COM SCALE SEM PERDER POSIÇÃO */
.menu.active .item:nth-child(2):hover {
    transform: translate(-50%, -50%) translate(-20px, -110px) scale(1.1);
}

.menu.active .item:nth-child(3):hover {
    transform: translate(-50%, -50%) translate(-90px, -75px) scale(1.1);
}

.menu.active .item:nth-child(4):hover {
    transform: translate(-50%, -50%) translate(-120px, -10px) scale(1.1);
}

.menu.active .item:nth-child(5):hover {
    transform: translate(-50%, -50%) translate(-80px, 55px) scale(1.1);
}

/* COR NO HOVER */
.item:hover {
    background: #2F85E8;

}

/* TEXTO */
.label {
    position: absolute;
    bottom: -25px;
    font-size: 12px;
    white-space: nowrap;
    color: #cbd5e1;
}

