<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Controle Financeiro{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    {% block css %}
    {% endblock %}
</head>
<body>
    <aside class="menu_lateral_navegacao">
        <nav class="navegar_rotas">
            <div class="navegar_rotas_secoes">
                <p class="navegar_rotas_menu">
                    <a href="/lancamentos">Lançamentos</a>
                    <strong class="navegar_rotas_secao"> ⮞</strong>
                </p>
                <span class="navegar_rotas_submenu"><a href="#">Criar</a></span>
                <span class="navegar_rotas_submenu"><a href="#">Listar</a></span>
            </div>
            <div class="navegar_rotas_secoes">
                <p class="navegar_rotas_menu">
                    <a href="/parcelas">Parcelas</a>
                    <strong class="navegar_rotas_secao"> ⮞</strong>
                </p>
                <span class="navegar_rotas_submenu"><a href="#">Listar</a></span>
            </div>
            <div class="navegar_rotas_secoes">
                <p class="navegar_rotas_menu">
                    <a href="/categorias">Categorias</a>
                    <strong class="navegar_rotas_secao"> ⮞</strong>
                </p>
                <span class="navegar_rotas_submenu"><a href="#">Criar</a></span>
                <span class="navegar_rotas_submenu"><a href="#">Listar</a></span>
            </div>
            <div class="navegar_rotas_secoes">
                <p class="navegar_rotas_menu">
                    <a href="/formaPagamento">Formas de Pagamento</a>
                    <strong class="navegar_rotas_secao"> ⮞</strong>
                </p>
                <span class="navegar_rotas_submenu"><a href="#">Criar</a></span>
                <span class="navegar_rotas_submenu"><a href="#">Listar</a></span>
            </div>
            <div class="navegar_rotas_secoes">
                <p class="navegar_rotas_menu">
                    <a href="/home">Dashboard</a>
                </p>
                
            </div>
        </nav>
    </aside>
    <header class="container menu_navegacao">
        {% block header %}
        {% endblock %}
        <div></div>
        <div></div>
        <nav>
            <a href="/home">Home</a>
            <span>|</span>
            <a href="/usuario/logout">Sair</a>
        </nav>
    </header>
    {% include "menu.html" %}
    <main class="container">
        {% block conteudo %}
        {% endblock %}
    </main>

    <script src="/static/js/script.js"></script>
    <script src="/static/js/navegacao.js"></script>
    
    {% block script %}
    {% endblock %}
    
</body>
</html>