<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Controle Financeiro{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    {% block css %}
    {% endblock %}
</head>
<body>
    <header class="container">
        <nav>
            <a href="/usuario/logout">Sair</a>
        </nav>
    </header>
    {% include "menu.html" %}
    <main class="container">
        {% block conteudo %}
        {% endblock %}
    </main>

    <script src="/static/js/script.js"></script>
    
    {% block script %}
    {% endblock %}
    
</body>
</html>