<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}Controle Financeiro{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='assets/icons/controleFinanceiro.png')}}">
    <link rel="manifest" href="{{ url_for('static', path='manifest.json') }}">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    {% block css %}
    {% endblock %}
</head>

<body>

    <header class="container">
        <nav>
            <a href="/usuario/login">Entrar</a>
            <span>/</span>
            <a href="/usuario/cadastro">Cadastrar-se</a>
        </nav>
    </header>

    <main class="container">
        {% block conteudo %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', path='/js/script.js') }}"></script>

    {% block script %}
    {% endblock %}

</body>
</html>