<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"   content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Controle Financeiro{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% include 'menu_lateral.html' %}
    <header class="container menu_navegacao">
        {% block header %}
        {% endblock %}
        <div class="menu_hamburguer">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div></div>
        <nav>
            <a href="/home">Home</a>
            <span>|</span>
            <a href="/usuario/logout">Sair</a>
        </nav>
    </header>
    <main class="container">
        {% block conteudo %}
        {% endblock %}
    </main>

    <script src="/static/js/script.js"></script>
    <script src="/static/js/navegacao.js"></script>
    
    {% block script %}
    {% endblock %}
    
</body>
</html>