{% extends "base_publica.html" %}

{% block titulo %}
Cadastro
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/cadastro.css') }}">
{% endblock %}

{% block conteudo %}
<h1 class="titulo-pagina">Cadastro</h1>
<section class="formulario">
    <form action="/usuario/cadastro/criar" method="POST" id="formulario">
        <div class="grupo_campo">
            <input type="text" id="usuario" name="usuario" placeholder="Usuário" autocomplete="off">
        </div>
        <div class="grupo_campo">
            <input type="text" id="nome" name="nome" placeholder="Nome completo" autocomplete="off">
        </div>
        <div class="grupo_campo">
            <input type="email" id="email" name="email" placeholder="E-mail" autocomplete="off">
        </div>
        <div class="grupo_campo">
            <input type="password" id="senha" name="senha" placeholder="Senha" data-senha>
        </div>
        <div class="grupo_campo">
            <input type="password" id="confirme_senha" name="confirme_senha" placeholder="Confirme sua senha" data-confirme-senha>
        </div>
        <p id="erroSenha"></p>
        <button type="submit" id="enviar_formulario">Enviar Cadastro</button>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/autenticar.js') }}"></script>
{% endblock %}
