{% extends "base.html" %}

{% block titulo %}
Categorias
{% endblock %}


{% block conteudo %}

<h1 class="titulo-pagina">Categoria</h1>
<section class="formulario">
    <form action="/categorias/criar" method="POST" id="formulario">
        <div class="grupo_campo">
            <input type="text" id="categoria" name="categoria" placeholder="Categoria" autocomplete="off" required>
        </div>

        <div class="grupo_campo">
            <input type="text" id="descricao" name="descricao" placeholder="Descrição" autocomplete="off" required>
        </div>

        <button type="submit" id="enviar_formulario">Salvar Categoria</button>
    </form>
</section>
{% if mensagem %}
<div class="mensagem_sucesso">
    <p>{{ mensagem }}</p>
</div>
{% endif %}
{% endblock %}