{% extends "base.html" %}

{% block titulo %}
Débitos
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/debitos/criar">Criar</a>
    <a href="/debitos">Débitos</a>
    <a href="/parcelas">Parcelas</a>

</nav>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/debitos.css') }}">
{% endblock %}

{% block conteudo %}
<h1 class="titulo-pagina">Contas à Pagar</h1>
<section class="formulario">
    <form action="/debitos/criar" method="POST" id="formulario">
        <div class="grupo_campo">
            <input type="date" id="data_compra" name="data_compra" placeholder="" onfocus="this.showPicker()" required>
        </div>

        <div class="grupo_campo">
            <input type="text" id="item_comprado" name="item_comprado" placeholder="Item Comprado" autocomplete="off" required>
        </div>

        <div class="grupo_campo">
            <select name="categoria_id" id="categoria_id" required>
                <option value="" selected disabled>Categoria: </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
            
        </div>

        <div class="grupo_campo">
            <select name="forma_pagamento" id="forma_pagamento" required>
                <option value="" selected disabled>Forma de Pagamento:</option>
                {% for formaPagamento in formas_pagamento %}
                    <option value="{{ formaPagamento.id }}">
                        {{ formaPagamento.forma_pagamento}} - {{ formaPagamento.responsavel }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <input type="text" name="valor_debito" id="valor_debito" placeholder="Valor R$" autocomplete="off" required oninput="formatarMoeda(this)">
        </div>
        <div class="grupo_campo">
            <select name="parcelado" id="parcelado" onchange="mostrarQuantidadeParcelas()" required>
                <option value="" selected disabled>Parcelar:</option>
                <option value="true">SIM</option>
                <option value="false">NÃO</option>
            </select>
        </div>

        <div class="grupo_campo">
            <input type="number" id="qnt_parcelas" name="qnt_parcelas" placeholder="Quantidade Parcelas">
        </div>

        <button type="submit" id="enviar_formulario">Salvar Gasto</button>

    </form>
</section>
{% if mensagem %}
    <div class="mensagem_sucesso">
        <p> {{ mensagem }} </p>
    </div>
{% endif %}
{% endblock %}


{% block script %}
<script src="/static/js/debitos.js"></script>
{% endblock %}
