{% extends "base.html" %}

{% block titulo %}
Forma de Pagamento
{% endblock %}


{% block conteudo %}
<h1 class="titulo-pagina">Forma de Pagamento</h1>
<section class="formulario">
    <form action="/formaPagamento/criar" method="POST" id="formulario">
        <div class="grupo_campo">
            <input type="text" id="forma_pagamento" name="forma_pagamento" placeholder="Forma de Pagamento" autocomplete="off" required>
        </div>

        <div class="grupo_campo">
            <input type="text" id="responsavel" name="responsavel" placeholder="Responsável" autocomplete="off">
        </div>
        
        <div class="grupo_campo">
            <input type="number" id="data_fechamento" name="data_fechamento" placeholder="Data de Fechamento">
        </div>
    
        <div class="grupo_campo">
            <input type="number" id="data_vencimento" name="data_vencimento" placeholder="Data de Vencimento">
        </div>

        <button type="submit" id="enviar_formulario">Salvar Forma de Pagamento</button>
    </form>
</section>
{% if mensagem %}
    <div class="mensagem_sucesso">
        <p> {{ mensagem }} </p>
    </div>
{% endif %}
{% endblock %}

  