{% extends "base.html" %}
{% block titulo %}HomePage {% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}
{% block conteudo %}
    <h1>Home</h1>
    <nav class="homepage_navegacao">
        <a href="/parcelas">Parcelas</a>
        <a href="/lancamentos">Lançamentos</a>
        <a href="/formaPagamento">Formas de Pagamento</a>
        <a href="/categorias">Categorias</a>
    </nav>

    <div class="cards_dashboard">
        <h2>Cards</h2>
        <div class="card_dashboard">
            <h3>Pago</h3>
            <span>R$ {{ valor_pago }}</span>
        </div>

        <div class="card_dashboard">
            <h3>Pendente</h3>
            <span>R$ {{ valor_pendente }}</span>
        </div>

        <div class="card_dashboard">
            <h3>Total Gasto</h3>
            <span>R$ {{ valor_total }}</span>
        </div>

        <div class="card_dashboard">
            <h3>Crédito</h3>
            <span>R$ {{ valor_credito }}</span>
        </div>

            <div class="card_dashboard">
            <h3>Saldo</h3>
            <span>R$ {{ saldo }}</span>
        </div>

    </div>
    <div class="insights_dashboard">
        <h2>Dasboard</h2>
        <div class="grafico_dashboard">
            <h3>Gastos por Dia</h3>
            <canvas id="gastosDia"></canvas>
        </div>

        <div class="grafico_dashboard">
            <h3>Gastos por Mês</h3>
            <canvas id="gastosMes"></canvas>
        </div>

        <div class="grafico_dashboard">
            <h3>Gastos por Categoria</h3>
            <canvas id="gastosCategoria"></canvas>
        </div>

        <div class="grafico_dashboard">
            <h3>Gastos por Pagamento</h3>
            <canvas id="gastosFormaPagamento"></canvas>
        </div>
    </div>
    {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
            window.dashboard = {
                label_gastos_dia: {{ label_gastos_dia | tojson }},
                data_gastos_dia: {{ data_gastos_dia | tojson }},
                
                labels_mes: {{ labels_mes | tojson }},
                data_gastos_mes: {{ data_gastos_mes | tojson }},
                data_creditos_mes: {{ data_creditos_mes | tojson }},

                label_gastos_categoria: {{ label_gastos_categoria | tojson }},
                data_gastos_categoria: {{ data_gastos_categoria | tojson }},

                label_gastos_forma_pagamento: {{ label_gastos_forma_pagamento | tojson }},
                data_gastos_forma_pagamento: {{ data_gastos_forma_pagamento | tojson }},
                 
            };
        </script>
        <script src="/static/js/home.js"></script>

    {% endblock %}

{% endblock %} 