{% extends "base.html" %}

{% block titulo %}
    Importar OFX
{% endblock %}

{% block conteudo %}
<div class="container_importacao">
    <h1>Importar arquivo OFX</h1>
    <p class="descricao_importacao">
        Importe a fatura do seu cartão de crédito.
    </p>
    <form
        id="formImportacao" action="/lancamentos/importacao/ofx" method="POST" enctype="multipart/form-data" class="form_importacao">
        <div class="campo_arquivo">
            <label for="arquivoOFX" id="labelArquivo">Anexe um arquivo OFX</label>
            <input type="file" id="arquivoOFX" name="arquivo" accept=".ofx" required>
        </div>
        <button type="submit" class="botao_importar" id="botaoImportarOfx">
            Ler Arquivo
        </button>
    </form>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', path='/js/importacao.js') }}"></script>
{% endblock %}