{% extends "base.html" %}

{% block titulo %}
Débitos
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/lancamentos.css') }}">
{% endblock %}

{% block conteudo %}
<h1 class="titulo-pagina">Lançamento</h1>
<section class="formulario">
    <form action="/lancamentos/criar" method="post" id="formulario">
        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra" name="data_compra" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()" class="tem_valor">
            <label for="data_compra">Data de Compra</label>
        </div>

    
        <div class="grupo_campo">
            <input type="text" id="item_comprado" name="item_comprado" placeholder="Item Comprado" autocomplete="off" required>
        </div>

        <div class="grupo_campo">
            <select name="tipo_lancamento" id="tipo_lancamento" required>
                <option value="" selected disabled>Tipo Lançamento: </option>
                <option value="DEBITO">DÉBITO</option>
                <option value="CREDITO">CRÉDITO</option>
            </select>  
        </div>

        <div class="grupo_campo">
            <select name="categoria_id" id="categoria_id" required>
                <option value="" selected disabled>Categoria: </option>
                {% for categoria in categorias | sort(attribute='categoria') %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
            
        </div>

        <div class="grupo_campo">
            <select name="forma_pagamento" id="forma_pagamento" required>
                <option value="" selected disabled>Forma de Pagamento:</option>
                {% for formaPagamento in formas_pagamento %}
                    <option value="{{ formaPagamento.id }}">
                        {{ formaPagamento.forma_pagamento}} - {{ formaPagamento.responsavel }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <input type="text" id="pagador_responsavel" name="pagador_responsavel" placeholder="Pagador Responsável">
        </div>

        <div class="grupo_campo">
            <input type="text" name="valor_lancamento" id="valor_lancamento" placeholder="Valor R$" autocomplete="off" required oninput="formatarMoeda(this)">
        </div>
        <div class="grupo_campo">
            <select name="parcelado" id="parcelado" onchange="mostrarQuantidadeParcelas()" required>
                <option value="" selected disabled>Parcelar:</option>
                <option value="true">SIM</option>
                <option value="false">NÃO</option>
            </select>
        </div>

        <div class="grupo_campo">
            <input type="number" id="qnt_parcelas" name="qnt_parcelas" placeholder="Quantidade Parcelas">
        </div>

        <button type="submit" id="enviar_formulario">Salvar lançamento</button>

    </form>
</section>
{% if mensagem %}
    <div class="mensagem_sucesso">
        <p> {{ mensagem }} </p>
    </div>
{% endif %}
{% endblock %}


