{% extends "base.html" %}
{% block titulo %}
Débitos
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/debitos.css') }}">
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/debitos/criar">Criar</a>
    <a href="/debitos">Débitos</a>
    <a href="/parcelas">Parcelas</a>
</nav>
{% endblock %}
{% block conteudo %}
<h2>Filtrar Débitos</h2>
<section class="formulario">
    <form action="/debitos" method="get" id="formulario">
        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra_inicio" name="data_compra_inicio" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_inicio">Intervalo de Compra Ínicio</label>
        </div>
        <div class="grupo_campo campo_data" >
            <input type="date" id="data_compra_final" name="data_compra_final" placeholder="Data compra final" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_final">Intervalo de Compra Final</label>
        </div>

        <div class="grupo_campo">
            <select name="id_categoria" id="id_categoria">
                <option value="" selected disabled>Categoria: </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <select name="id_forma_pagamento" id="id_forma_pagamento">
                <option value="" selected disabled>Forma de Pagamento:</option>
                {% for grupo in formas_pagamento|groupby('responsavel') %}  
                    <optgroup label="{{ grupo.grouper }}">
                        {% for formaPagamento in grupo.list %}
                            <option value="{{ formaPagamento.id }}">
                                {{ formaPagamento.forma_pagamento }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>        
        </div>

        <button type="submit" id="enviar_formulario">Filtrar Débitos</button>
    </form>
</section>
<h1 class="titulo-pagina">Lista de Débitos</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 0, 'data')">DT. COMPRA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 1, 'texto')">COMPRA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 2, 'numero')">VLR. DEBITO</th>
            </tr>
        </thead>
        <tbody>
            {% if debitos %}
                {% for debito in debitos | sort(attribute='data_compra', reverse=True) %}
                <tr onclick="editarItem(this)"
                    data-id="{{ debito.id }}"
                    data-data-compra="{{ debito.data_compra }}"
                    data-item-comprado="{{ debito.item_comprado }}"
                    data-categoria="{{ debito.categoria.id }}"
                    data-valor-debito="{{ debito.valor_debito }}"
                    data-forma_pagamento="{{ debito.formaPagamento.id }}"
                    data-qnt-parcelas="{{ debito.qnt_parcelas }}">
                    <td>{{ debito.data_compra.strftime("%d/%m/%Y") }}</td>
                    <td>{{ debito.item_comprado }}</td>
                    <td>R$ {{ "{:,.2f}".format(debito.valor_debito).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>                    
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>


<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/debitos" method="post" id="formulario">
        <input type="hidden" id="id_debito" name="id_debito" data-id-principal>
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="item_comprado">Compra:</label>
                <input type="text" id="editar_item_comprado" name="item_comprado" placeholder="Item Comprado" autocomplete="off">
            </div>
            <div class="grupo_campo">
                <label for="data_compra">Dt. Compra:</label>
                <input type="date" id="editar_data_compra" name="data_compra" placeholder="" onfocus="this.showPicker()" required>
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="valor_debito">Valor:</label>
                <input type="text" name="valor_debito" id="editar_valor_debito" placeholder="Valor R$" autocomplete="off" oninput="formatarMoeda(this)">
            </div>


            <div class="grupo_campo">
                <label for="id_forma_pagamento">Pagamento:</label>
                <select name="id_forma_pagamento" id="editar_id_forma_pagamento">
                    <option value="" disabled>Forma de Pagamento:</option>
                    {% for grupo in formas_pagamento|groupby('responsavel') %}  
                        <optgroup label="{{ grupo.grouper }}">
                            {% for formaPagamento in grupo.list %}
                                <option value="{{ formaPagamento.id }}">
                                    {{ formaPagamento.forma_pagamento }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>        
            </div>
        </div>
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="id_categoria">Categoria:</label>
                <select name="id_categoria" id="editar_id_categoria">
                    <option value="" disabled>Categoria: </option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">
                            {{ categoria.categoria }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_campo">
                <label for="parcelado">Parcelado:</label>
                <select name="parcelado" id="editar_parcelado" onchange="mostrarQuantidadeParcelas()">
                    <option value="" disabled>Parcelar:</option>
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="grupo_campo">
                <label for="qnt_parcelas">Parcelas:</label>
                <input type="number" id="editar_qnt_parcelas" name="qnt_parcelas" placeholder="Quantidade Parcelas">
            </div>
        </div>

        <div class="grupo_campo botoes_formulario">
            <button type="submit" id="btn_excluir" formaction="/debitos/excluir">Excluir Débito</button>
            <button type="submit" id="btn_editar" formaction="/debitos/editar">Editar Débito</button>
        </div>
    </form>
</aside>
{% endblock %}
{% block script %}
<script src="/static/js/lista_debitos.js"></script>
<script src="/static/js/debitos.js"></script>

{% endblock %}