{% extends "base.html" %}
{% block titulo %}
Categoria
{% endblock %}
{% block conteudo %}
<section class="formulario">
    <form action="/categorias/categoria/listar" method="get" id="formulario">
        <div class="grupo_campo">
            <select name="status_categoria" id="status_categoria" required>
                <option value="" selected disabled>Status Categoria</option>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
            </select>
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Categoria</button>
    </form>
</section>
<h1 class="titulo-pagina">Lista de Categorias</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th>CATEGORIA</th>
                <th>DESCRIÇÃO</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% if categorias %}
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.categoria }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td>{{ categoria.status_categoria }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Nenhuma categoria encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>
{% endblock %}