{% extends "base.html" %}
{% block titulo %}
Categoria
{% endblock %}
{% block conteudo %}
<style>
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
</style>
<section class="formulario">
    <form action="/categoria/listar" method="GET" id="formulario">
        <div class="grupo_campo">
            <select name="status_categoria" id="status_categoria" required>
                <option value="" selected disabled>Status Categoria</option>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
            </select>
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Categoria</button>
    </form>
</section>
<h1 class="titulo-pagina">Lista de Categorias</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Status Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                {% if categoria %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            <tr>
                <td>{{ categoria.categoria }}</td>
                <td>{{ categoria.descricao }}</td>
                <td>{{ categoria.status_categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}