{% extends "base.html" %}
{% block titulo %}
Débitos
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/lancamentos.css') }}">
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/lancamentos/criar">Criar</a>
    <a href="/lancamentos">Lançamentos</a>
    <a href="/parcelas">Parcelas</a>
</nav>
{% endblock %}
{% block conteudo %}
<!-------  ======= ABA DE FILTROS DE LANÇAMENTOS ======= ------->
<h2>Filtrar Lançamentos</h2>
<section class="formulario">
    <form action="/lancamentos" method="get" id="formulario">
        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra_inicio" name="data_compra_inicio" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()" value="{{ data_compra_inicio or '' }}">
            <label for="data_compra_inicio">Intervalo de Compra Ínicio</label>
        </div>
        <div class="grupo_campo campo_data" >
            <input type="date" id="data_compra_final" name="data_compra_final" placeholder="Data compra final" autocomplete="off" onclick="this.showPicker()" value="{{ data_compra_final or '' }}">
            <label for="data_compra_final">Intervalo de Compra Final</label>
        </div>

        <div class="grupo_campo">
            <details class="filtroDetails">
                <summary>Categoria</summary>
                {% for categoria in categorias|sort(attribute='categoria') %}
                    <div class="opcao_checkbox">
                        <div class="linha_checkbox">
                            <input type="checkbox" name="id_categoria" id="id_{{ categoria.categoria }}" value="{{ categoria.id }}" {% if id_categoria and categoria.id in id_categoria %}checked {% endif %}>
                            <label for="id_{{ categoria.categoria }}">{{ categoria.categoria }}</label>
                        </div>
                    </div>
                {% endfor %}
            </details>  
        </div>

        <div class="grupo_campo">
            <details class="filtroDetails">
                <summary>Pagamento:</summary>
                {% for grupo in formas_pagamento|groupby('responsavel')|sort(attribute='responsavel')%}  
                    <div class="grupo_responsavel">
                        <strong>{{ grupo.grouper}}</strong>
                    </div>
                    {% for formaPagamento in grupo.list|sort(attribute='forma_pagamento') %}
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="id_forma_pagamento" id="forma_{{ formaPagamento.id }}" value="{{ formaPagamento.id }}" {% if id_forma_pagamento and formaPagamento.id in id_forma_pagamento %} checked {% endif %}>
                                <label for="forma_{{ formaPagamento.id }}">
                                    {{ formaPagamento.forma_pagamento }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <select name="tipo_lancamento" id="tipo_lancamento" required>
                <option value="" {% if not tipo_lancamento %} selected {% endif %} disabled>Tipo Lançamento: </option>
                <option value="CREDITO" {% if tipo_lancamento == "CREDITO" %}selected {% endif %}>CRÉDITO</option>
                <option value="DEBITO" {% if tipo_lancamento == "DEBITO" %}selected {% endif %}>DÉBITO</option>
            </select>  
        </div>

        <button type="submit" id="enviar_formulario">Filtrar Lançamentos</button>
    </form>
</section>

<!-------  ======= ABA DE TABELA DOS LANÇAMENTOS ======= ------->
<h1 class="titulo-pagina">Lista de Lançamentos</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 0, 'data')">DT. COMPRA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 1, 'texto')">COMPRA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 2, 'numero')">VLR. LANÇAMENTO</th>
            </tr>
        </thead>
        <tbody>
            {% if lancamentos %}
                {% for lancamento in lancamentos | sort(attribute='data_compra', reverse=True) %}
                <tr onclick="editarItem(this)"
                    data-id="{{ lancamento.id }}"
                    data-data-compra="{{ lancamento.data_compra }}"
                    data-item-comprado="{{ lancamento.item_comprado }}"
                    data-id-categoria="{{ lancamento.categoria.id }}"
                    data-valor-lancamento="{{ lancamento.valor_lancamento }}"
                    data-id-forma-pagamento="{{ lancamento.formaPagamento.id }}"
                    data-tipo-lancamento="{{ lancamento.parcela.tipo_lancamento }}"
                    data-qnt-parcelas="{{ lancamento.qnt_parcelas }}"
                    data-pagador-responsavel="{{ lancamento.pagador_responsavel }}"
                    data-responsavel-forma_pagamento="{{ lancamento.formaPagamento.responsavel }}">
                    <td>{{ lancamento.data_compra.strftime("%d/%m/%Y") }}</td>
                    <td>{{ lancamento.item_comprado }}</td>
                    <td>R$ {{ "{:,.2f}".format(lancamento.valor_lancamento).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>                    
                </tr>
                {% endfor %}
                <tr class="linha-total">
                    <td colspan="2"><strong>Valor Total:</strong></td>
                    <td>
                        <strong>R$ {{ "{:,.2f}".format(valor_total).replace(",", "X").replace(".", ",").replace("X", ".") }}</strong>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>

<!-------  ======= ABA DE EDIÇÃO DOS LANÇAMENTOS ======= ------->
<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/lancamentos" method="post" id="formulario">
        <input type="hidden" id="id_lancamento" name="id_lancamento" data-id-principal>
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="item_comprado">Compra:</label>
                <input type="text" id="editar_item_comprado" name="item_comprado" placeholder="Item Comprado" autocomplete="off">
            </div>
            <div class="grupo_campo">
                <label for="data_compra">Dt. Compra:</label>
                <input type="date" id="editar_data_compra" name="data_compra" placeholder="" onfocus="this.showPicker()" required>
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="valor_lancamento">Valor:</label>
                <input type="text" name="valor_lancamento" id="editar_valor_lancamento" placeholder="Valor R$" autocomplete="off" oninput="formatarMoeda(this)">
            </div>


            <div class="grupo_campo">
                <label for="id_forma_pagamento">Pagamento:</label>
                <select name="id_forma_pagamento" id="editar_id_forma_pagamento">
                    <option value="" disabled>Forma de Pagamento:</option>
                    {% for grupo in formas_pagamento|groupby('responsavel') %}  
                        <optgroup label="{{ grupo.grouper }}">
                            {% for formaPagamento in grupo.list %}
                                <option value="{{ formaPagamento.id }}">
                                    {{ formaPagamento.forma_pagamento }} - {{ formaPagamento.responsavel }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>        
            </div>
        </div>
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="id_categoria">Categoria:</label>
                <select name="id_categoria" id="editar_id_categoria">
                    <option value="" disabled>Categoria:</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">
                            {{ categoria.categoria }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_campo">
                <label for="parcelado">Parcelado:</label>
                <select name="parcelado" id="editar_parcelado" onchange="mostrarQuantidadeParcelas()">
                    <option value="" disabled>Parcelar:</option>
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="grupo_campo">
                <label for="qnt_parcelas">Parcelas:</label>
                <input type="number" id="editar_qnt_parcelas" name="qnt_parcelas" placeholder="Quantidade Parcelas">
            </div>
        </div>
        <div class="grupo_campo">
            <label for="pagador_responsavel" id="pagador_responsavel">Pagador Responsável:</label>
            <input type="text" id="editar_pagador_responsavel" name="pagador_responsavel" placeholder="Quantidade Parcelas">
        </div>

        <div class="grupo_campo botoes_formulario">
            <button type="submit" id="btn_excluir" formaction="/lancamentos/excluir">Excluir Débito</button>
            <button type="submit" id="btn_editar" formaction="/lancamentos/editar">Editar Débito</button>
        </div>
    </form>
</aside>
{% endblock %}
{% block script %}
<script src="/static/js/lista_lancamentos.js"></script>
<script src="/static/js/lancamentos.js"></script>

{% endblock %}