{% extends "base.html" %}
{% block titulo %}
Forma de Pagamento
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/formaPagamento/criar">Criar</a>
    <a href="/formaPagamento">Listar</a>
</nav>
{% endblock %}
{% block conteudo %}
<section class="formulario">
    <form action="/formaPagamento" method="get" id="formulario">
        <div class="grupo_campo">
            <select name="status_forma_pagamento" id="status_forma_pagamento">
                <option value="" disabled {% if not status_forma_pagamento %} selected {% endif %}>Status Forma de Pagamento</option>
                <option value="ATIVO" {% if status_forma_pagamento == "ATIVO" %}selected{% endif %}>ATIVO</option>
                <option value="INATIVO" {% if status_forma_pagamento == "INATIVO" %}selected{% endif %}>INATIVO</option>
            </select>
        </div>
        <div class="grupo_campo">
            <input type="text" id="forma_pagamento" name="forma_pagamento" placeholder="Forma de Pagamento" autocomplete="off" value="{{ forma_pagamento or ''}}">
        </div>
        <div class="grupo_campo">
            <input type="number" id="data_vencimento" name="data_vencimento" placeholder="Data de Vencimento" autocomplete="off" value="{{ data_vencimento or ''}}">
        </div>
        <div class="grupo_campo">
            <input type="number" id="data_fechamento" name="data_fechamento" placeholder="Data de Fechamento" autocomplete="off" value="{{ data_fechamento or '' }}">
        </div>
        <div class="grupo_campo">
            <input type="text" id="responsavel" name="responsavel" placeholder="Responsavel" autocomplete="off" value="{{ responsavel or '' }}">
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Forma de Pagamento</button>
    </form>
    
</section>
<h1 class="titulo-pagina">Lista de Formas de Pagamento</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 0, 'texto')">FORMA DE PAGAMENTO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 1, 'texto')">RESPONSÁVEL</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 2, 'numero')">DATA DE VENCIMENTO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 3, 'texto')">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% if formasDePagamento %}
                {% for formaDePagamento in formasDePagamento %}

                <tr onclick="editarItem(this)"
                    data-id="{{ formaDePagamento.id }}"
                    data-forma-pagamento="{{ formaDePagamento.forma_pagamento }}"
                    data-responsavel="{{ formaDePagamento.responsavel }}"
                    data-data-vencimento="{{ formaDePagamento.data_vencimento }}"
                    data-data-fechamento="{{ formaDePagamento.data_fechamento }}"
                    data-status="{{ formaDePagamento.status_forma_pagamento }}">
                    <td>{{ formaDePagamento.forma_pagamento }}</td>
                    <td>{{ formaDePagamento.responsavel }}</td>
                    <td>{{ formaDePagamento.data_vencimento }}</td>
                    <td>{{ formaDePagamento.status_forma_pagamento }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>


<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/formaPagamento" method="post" id="formulario">
        <input type="hidden" id="id_formaPagamento" name="id_formaPagamento" data-id-principal>
        <div class="grupo_campo">
            <input type="text" id="editar_forma_pagamento" name="forma_pagamento" placeholder="Forma de Pagamento" autocomplete="off" required>
        </div>

        <div class="grupo_campo">
            <input type="text" id="editar_responsavel" name="responsavel" placeholder="Responsável" autocomplete="off" required>
        </div>
    
        <div class="grupo_campo">
            <input type="number" id="editar_data_vencimento" name="data_vencimento" placeholder="Data de Vencimento">
        </div>

        <div class="grupo_campo">
            <input type="number" id="editar_data_fechamento" name="data_fechamento" placeholder="Data de Fechamento">
        </div>

        <div class="grupo_campo">
            <select name="status_forma_pagamento" id="editar_status_forma_pagamento">
                <option value="" disabled>Status Forma de Pagamento</option>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
            </select>
        </div>

        <div class="grupo_campo">
            <button type="submit" id="enviar_formulario" formaction="/formaPagamento/excluir/">Excluir Forma de Pagamento</button>
            <button type="submit" id="enviar_formulario" formaction="/formaPagamento/editar">Editar Forma de Pagamento</button>
        </div>
    </form>
</aside>
{% endblock %}