{% extends "base.html" %}
{% block titulo %}
Categoria
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/categorias/criar">Criar</a>
    <a href="/categorias">Listar</a>
</nav>
{% endblock %}
{% block conteudo %}
<section class="formulario">
    <form action="/categorias" method="get" id="formulario">
        <div class="grupo_campo">
            <select name="status_categoria" id="status_categoria">
                <option value="" {% if not status_categoria %}selected{% endif %} disabled>Status Categoria</option>
                <option value="ATIVO" {% if status_categoria == "ATIVO" %}selected{% endif %}>ATIVO</option>
                <option value="INATIVO" {% if status_categoria == "INATIVO" %}selected{% endif %}>INATIVO</option>
            </select>
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Categoria</button>
    </form>
</section>
<h1 class="titulo-pagina">Lista de Categorias</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 0, 'texto')">CATEGORIA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 1, 'texto')">DESCRIÇÃO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 2, 'texto')">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% if categorias %}
                {% for categoria in categorias %}
                <tr onclick="editarItem(this)"
                data-id="{{ categoria.id }}"
                data-categoria="{{ categoria.categoria }}"
                data-descricao="{{ categoria.descricao }}"
                data-status="{{ categoria.status_categoria }}">
                    <td>{{ categoria.categoria }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td>{{ categoria.status_categoria }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Nenhuma categoria encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>
<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="" method="post" id="formulario">
        <input type="hidden" id="categoria_id" name="categoria_id" data-id-principal>
        <div class="grupo_campo">
            <select name="categoria_status" id="editar_status_categoria">
                <option value="" disabled>Status Categoria</option>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
            </select>
        </div>

        <div class="grupo_campo">
            <input type="text" id="editar_categoria" name="categoria_titulo" placeholder="Categoria" autocomplete="off" required>
        </div>
        <div class="grupo_campo">
            <input type="text" id="editar_descricao" name="categoria_descricao" placeholder="Descrição" autocomplete="off" required>
        </div>
        <div class="grupo_campo">
            <button type="submit" id="enviar_formulario" formaction="/categorias/excluir">Excluir Categoria</button>
            <button type="submit" id="enviar_formulario" formaction="/categorias/editar">Editar Categoria</button>
        </div>

    </form>
</aside>
{% endblock %}
