{% extends "base.html" %}
{% block titulo %}
Débitos
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/debitos.css') }}">
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/debitos/criar">Criar</a>
    <a href="/debitos/editar">Editar</a>
    <a href="/debitos">Listar</a>
</nav>
{% endblock %}
{% block conteudo %}
<section class="formulario">
    <form action="/debitos" method="get" id="formulario">
        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra_inicio" name="data_compra_inicio" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_inicio">Intervalo de Compra Ínicio</label>
        </div>
        <div class="grupo_campo campo_data" >
            <input type="date" id="data_compra_final" name="data_compra_final" placeholder="Data compra final" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_final">Intervalo de Compra Final</label>
        </div>

        <div class="grupo_campo">
            <select name="id_categoria" id="id_categoria">
                <option value="" selected disabled>Categoria: </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <select name="id_forma_pagamento" id="id_forma_pagamento">
                <option value="" selected disabled>Forma de Pagamento:</option>
                {% for formaPagamento in formas_pagamento %}
                    <option value="{{ formaPagamento.id }}">
                        {{ formaPagamento.forma_pagamento}} - {{ formaPagamento.responsavel }}
                    </option>
                {% endfor %}
            </select>        
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Débitos</button>
    </form>
</section>
<h1 class="titulo-pagina">Lista de Débitos</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 0, 'data')">DATA DE COMPRA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 1, 'texto')">ITEM COMPRADO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 2, 'texto')">CATEGORIA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 3, 'numero')">VALOR DEBITO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 4, 'texto')">FORMA DE PAGAMENTO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 5, 'numero')">QNT. PARCELAS</th>
            </tr>
        </thead>
        <tbody>
            {% if debitos %}
                {% for debito in debitos | sort(attribute='data_compra', reverse=True) %}
                <tr onclick="editarItem(this)"
                    data-data_compra="{{ debito.data_compra }}"
                    data-item_comprado="{{ debito.item_comprado }}"
                    data-categoria="{{ debito.categoria.id }}"
                    data-valor-debito="{{ debito.valor_debito }}"
                    data-forma_pagamento="{{ debito.formaPagamento.id }}"
                    data-qnt-parcelas="{{ debito.qnt_parcelas }}">
                    <td>{{ debito.data_compra.strftime("%d/%m/%Y") }}</td>
                    <td>{{ debito.item_comprado }}</td>
                    <td>{{ debito.categoria.categoria }}</td>
                    <td>R$ {{ "{:,.2f}".format(debito.valor_debito).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>                    
                    <td>{{ debito.formaPagamento.forma_pagamento }}</td>
                    <td>{{ debito.qnt_parcelas }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>


<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/debitos" method="get" id="formulario">
        <div class="grupo_campo">
            <input type="text" id="editar_item_comprado" name="item_comprado" placeholder="Item Comprado" autocomplete="off">
        </div>
        <div class="grupo_campo">
            <input type="text" name="valor_debito" id="editar_valor_debito" placeholder="Valor R$" autocomplete="off" oninput="formatarMoeda(this)">
        </div>

        <div class="grupo_campo">
            <select name="id_categoria" id="editar_id_categoria">
                <option value="" disabled>Categoria: </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <select name="id_forma_pagamento" id="editar_id_forma_pagamento">
                <option value="" disabled>Forma de Pagamento:</option>
                {% for formaPagamento in formas_pagamento %}
                    <option value="{{ formaPagamento.id }}">
                        {{ formaPagamento.forma_pagamento}} - {{ formaPagamento.responsavel }}
                    </option>
                {% endfor %}
            </select>        
        </div>

        <div class="grupo_campo">
            <select name="parcelado" id="editar_parcelado" onchange="mostrarQuantidadeParcelas()">
                <option value="" disabled>Parcelar:</option>
                <option value="true">SIM</option>
                <option value="false">NÃO</option>
            </select>
        </div>

        <div class="grupo_campo">
            <input type="number" id="editar_qnt_parcelas" name="qnt_parcelas" placeholder="Quantidade Parcelas">
        </div>

        <div class="grupo_campo">
            <button type="submit" id="enviar_formulario">Excluir Débito</button>
            <button type="submit" id="enviar_formulario">Editar Débito</button>
        </div>
    </form>
</aside>
{% endblock %}
{% block script %}
<script src="/static/js/lista_debitos.js"></script>
<script src="/static/js/debitos.js"></script>

{% endblock %}