{% extends "base_publica.html" %}
{% block titulo %}
Login
{% endblock %}
{% block conteudo %}
<h1 class="titulo-pagina">Login</h1>
<section class="formulario">
    <form onsubmit="envioFormularioCadastro(event)" data-tipo="login" data-url="/usuario/login" action="/usuario/login" method="POST" id="formulario">
        <div class="grupo_campo">
            <input type="text" id="login" name="login" placeholder="E-mail/Usuário" autocomplete="username" required>
        </div>

        <div class="grupo_campo">
            <input type="password" id="senha" name="senha" placeholder="Senha" required autocomplete="current-password">
        </div>


        
        <button type="submit" id="enviar_formulario">Entrar</button>
    </form>
<div class="mensagem">
    <p id="status_mensagem"></p>
</div>

</section>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', path='/js/formulario.js') }}"></script>
{% endblock %}
