<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <header class="container">
        <nav>
            <a href="#">Entrar</a>
            <span>/</span>
            <a href="#">Cadastrar-se</a>
        </nav>
    </header>
    <main class="container">
        <h1 class="titulo-pagina">Login</h1>
        <section class="formulario">
            <form action="#" method="POST" id="formulario">
                <div class="grupo_campo">
                    <input type="text" id="email" name="email" placeholder="E-mail  ">
                </div>

                <div class="grupo_campo">
                    <input type="password" id="senha" name="senha" placeholder="Senha">
                </div>

                <button type="submit" id="enviar_formulario">Entrar</button>
            </form>
        </section>
    </main>
</body>
</html>