{% extends "base_publica.html" %}
{% block titulo %}
Login
{% endblock %}

{% block conteudo %}
<h1 class="titulo-pagina">Login</h1>
<section class="formulario">
    <form action="/usuario/login" method="POST" id="formulario">
        <div class="grupo_campo">
            <input type="text" id="email" name="email" placeholder="E-mail" required>
        </div>

        <div class="grupo_campo">
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
        </div>

        <button type="submit" id="enviar_formulario">Entrar</button>
    </form>
</section>
{% endblock %}


