
<aside class="menu_lateral_navegacao">
    <button id="fechar_menu_lateral">
        X
    </button>
    <nav class="navegar_rotas">
        <div class="navegar_rotas_secoes">
            <p class="navegar_rotas_menu">
                <a href="/lancamentos">Lançamentos</a>
                <strong class="navegar_rotas_secao"> ▶</strong>
            </p>
            <ul class="navegar_rotas_submenu">
                <li><a href="/lancamentos/criar">Criar</a></li>
                <li><a href="/lancamentos">Listar</a></li>
                <li><a href="/lancamentos/importacao">Importação</a></li>
            </ul>
        </div>
        <div class="navegar_rotas_secoes">
            <p class="navegar_rotas_menu">
                <a href="/parcelas">Parcelas</a>
                <strong class="navegar_rotas_secao"> ▶</strong>
            </p>
            <ul class="navegar_rotas_submenu">
                <li><a href="/parcelas">Listar</a></li>
            </ul>
        </div>
        <div class="navegar_rotas_secoes">
            <p class="navegar_rotas_menu">
                <a href="/categorias">Categorias</a>
                <strong class="navegar_rotas_secao"> ▶</strong>
            </p>
            <ul class="navegar_rotas_submenu">
                <li><a href="/categorias/criar">Criar</a></li>
                <li><a href="/categorias">Listar</a></li>
            </ul>
        </div>
        <div class="navegar_rotas_secoes">
            <p class="navegar_rotas_menu">
                <a href="/formaPagamento">Formas de Pagamento</a>
                <strong class="navegar_rotas_secao"> ▶</strong>
            </p>
            <ul class="navegar_rotas_submenu">
                <li><a href="/formaPagamento/criar">Criar</a></li>
                <li><a href="/formaPagamento">Listar</a></li>
            </ul>
        </div>
        <div class="navegar_rotas_secoes">
            <p class="navegar_rotas_menu">
                <a href="/home">Dashboard</a>
                <strong class="navegar_rotas_secao"></strong>
            </p>
            
        </div>
    </nav>
</aside>