{% extends "base.html" %}
{% block titulo %}
Parcelas
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/parcelas.css') }}">
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/lancamentos">Lançamentos</a>
</nav>
{% endblock %}
{% block conteudo %}
<!-- ======= FILTRO DE PARCELAS ======= -->
<section class="formulario">
    <form action="/parcelas" method="get" id="formulario">

        <div class="grupo_campo_editar">
            <div class="grupo_campo campo_data">
                <input type="date" id="data_compra_inicio" name="data_compra_inicio" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()">
                <label for="data_compra_inicio">Dt. Compra Ínicio</label>
            </div>
            <div class="grupo_campo campo_data" >
                <input type="date" id="data_compra_final" name="data_compra_final" placeholder="Data compra final" autocomplete="off" onclick="this.showPicker()">
                <label for="data_compra_final">Dt. Compra Final</label>
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo campo_data">
                <input type="date" id="data_vencimento_inicio" name="data_vencimento_inicio" placeholder="Data Vencimento início" autocomplete="off" onclick="this.showPicker()">
                <label for="data_vencimento_inicio">Dt. Venc. Ínicio</label>
            </div>
            <div class="grupo_campo campo_data" >
                <input type="date" id="data_vencimento_final" name="data_vencimento_final" placeholder="Data Vencimento final" autocomplete="off" onclick="this.showPicker()">
                <label for="data_vencimento_final">Dt. Venc. Final</label>
            </div>
        </div>



        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Status Parcela</summary>
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="status_parcela" id="status_parcela_cancelado" value="CANCELADO">
                                <label for="status_parcela_cancelado">CANCELADO</label>
                            </div>
                        </div>

                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="status_parcela" id="status_parcela_pago" value="PAGO">
                                <label for="status_parcela_pago">PAGO</label>
                            </div>
                        </div>

                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="status_parcela" id="status_parcela_pendente" value="PENDENTE">
                                <label for="status_parcela_pendente">PENDENTE</label>
                        </div>
                </details>  
            </div>

            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Categoria</summary>
                    {% for categoria in categorias %}
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="id_categoria" id="id_{{ categoria.categoria }}" value="{{ categoria.id }}">
                                <label for="id_{{ categoria.categoria }}">{{ categoria.categoria }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </details>
            </div>

        </div>
        
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Pagamento:</summary>
                    {% for grupo in formas_pagamento|groupby('responsavel') %}  
                        <div class="grupo_responsavel">
                            <strong>{{ grupo.grouper}}</strong>
                        </div>
                        {% for formaPagamento in grupo.list %}

                            <div class="opcao_checkbox">
                                <div class="linha_checkbox">
                                    <input type="checkbox" name="id_forma_pagamento" id="forma_{{ formaPagamento.id }}" value="{{ formaPagamento.id }}">
                                    <label for="forma_{{ formaPagamento.id }}">
                                        {{ formaPagamento.forma_pagamento }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Pagador Responsável</summary>
                    {% for responsavel in lancamentos %}
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="pagador_responsavel" id="pagador_{{ responsavel }}" value="{{ responsavel }}">
                                <label for="pagador_{{ responsavel }}">{{ responsavel }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </details>  
            </div>
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Parcelas</button>
    </form>
</section>

<!-- ======= TABELA DE PARCELAS ======= -->
<h1 class="titulo-pagina">Lista de Parcelas</h1>

<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 0, 'data')">VENC.</th>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 1, 'texto')">COMPRA</th>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 2, 'numero')">VALOR</th>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 3, 'numero')">VALOR</th>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 4, 'texto')">TIPO</th>
            </tr>
        </thead>
        <tbody>
            {% if parcelas %}
                {% for parcela in parcelas | sort(attribute='data_vencimento', reverse=True) %}
                <tr onclick="editarItem(this)"
                    data-id="{{ parcela.id }}"
                    data-data-compra="{{ parcela.lancamento.data_compra }}"
                    data-item-comprado="{{ parcela.lancamento.item_comprado }}"
                    data-categoria="{{ parcela.lancamento.categoria.id }}"
                    data-valor-parcela="{{ parcela.valor_parcela }}"
                    data-parcela="{{ parcela.numero_parcela }}"
                    data-data-vencimento="{{ parcela.data_vencimento }}"
                    data-pagador-responsavel="{{ parcela.lancamento.pagador_responsavel }}"
                    data-status-parcela="{{ parcela.status_parcela }}">
                    <td>{{ parcela.data_vencimento.strftime("%d/%m/%Y") }}</td>
                    <td>{{ parcela.lancamento.item_comprado }}</td>
                    <td>R$ {{ "{:,.2f}".format(parcela.valor_parcela).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>                    
                    <td>{{ parcela.numero_parcela }}/{{ parcela.lancamento.qnt_parcelas }}</td>
                    <td>{{ parcela.tipo_lancamento }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>

<!-- ======= MENU DE EDITAR PARCELAS ======= -->

<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/parcelas" method="post" id="formulario">
        <input type="hidden" id="id_parcela" name="id_parcela" data-id-principal>

        <div class="grupo_campo">
            <label for="item_comprado">Item Comprado</label>
            <input type="text" id="editar_item_comprado" name="item_comprado" placeholder="Item Comprado" disabled>
        </div>
        
        <div class="grupo_campo" >
            <label for="parcela_responsavel">Pagador Responsável</label>
            <input type="text" id="editar_pagador_responsavel" name="pagador_responsavel" placeholder="Pagador Responsável" disabled>
        </div>
        
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="id_categoria">Categoria:</label>
                <select disabled name="id_categoria" id="editar_id_categoria">
                    <option value="" disabled>Categoria: </option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">
                            {{ categoria.categoria }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_campo">
                <label for="id_forma_pagamento">Pagamento:</label>
                <select disabled name="id_forma_pagamento" id="editar_id_forma_pagamento">
                    <option value="" disabled>Forma de Pagamento:</option>
                    {% for grupo in formas_pagamento|groupby('responsavel') %}  
                        <optgroup label="{{ grupo.grouper }}">
                            {% for formaPagamento in grupo.list %}
                                <option value="{{ formaPagamento.id }}">
                                    {{ formaPagamento.forma_pagamento }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>        
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="editar_parcela">Nº Parcela:</label>
                <input disabled type="number" id="editar_parcela" name="editar_parcela" placeholder="Nº Parcela">
            </div>

            <div class="grupo_campo" >
                <label for="data_vencimento">Vencimento:</label>
                <input type="date" id="editar_data_vencimento" name="data_vencimento" disabled>
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="valor_parcela">Valor Parcela:</label>
                <input disabled type="text" name="valor_parcela" id="editar_valor_parcela" placeholder="Valor R$" autocomplete="off" oninput="formatarMoeda(this)">
            </div>

            <div class="grupo_campo">
                <label for="status_parcela">Status:</label>
                <input type="text" name="status_parcela" id="editar_status_parcela" placeholder="Status Parcela" autocomplete="off">
            </div>
        </div>

        <div class="grupo_campo botoes_formulario">
            <button type="submit" id="enviar_formulario" formaction="/parcelas/excluir">Excluir Parcela</button>
            <button type="submit" id="enviar_formulario" formaction="/parcelas/editar">Editar Parcela</button>
        </div>
    </form>
</aside>
{% if mensagem %}
    <div class="mensagem_sucesso">
        <p> {{ mensagem }} </p>
    </div>
{% endif %}
{% endblock %}
{% block script %}
<script src="/static/js/lista_lancamentos.js"></script>
<script src="/static/js/lancamentos.js"></script>

{% endblock %}