{% extends "base.html" %}
{% block titulo %}
Parcelas
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/debitos.css') }}">
{% endblock %}
{% block header %}
<nav class="navegar_rotas">
    <a href="/debitos">Débitos</a>
</nav>
{% endblock %}
{% block conteudo %}
<section class="formulario">
    <form action="/parcelas" method="get" id="formulario">
        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra_inicio" name="data_compra_inicio" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_inicio">Intervalo de Compra Ínicio</label>
        </div>
        <div class="grupo_campo campo_data" >
            <input type="date" id="data_compra_final" name="data_compra_final" placeholder="Data compra final" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_final">Intervalo de Compra Final</label>
        </div>

        <div class="grupo_campo">
            <select name="id_categoria" id="id_categoria">
                <option value="" selected disabled>Categoria: </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <select name="id_forma_pagamento" id="id_forma_pagamento">
                <option value="" selected disabled>Forma de Pagamento:</option>
                {% for grupo in formas_pagamento|groupby('responsavel') %}  
                    <optgroup label="{{ grupo.grouper }}">
                        {% for formaPagamento in grupo.list %}
                            <option value="{{ formaPagamento.id }}">
                                {{ formaPagamento.forma_pagamento }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>        
        </div>

        <button type="submit" id="enviar_formulario">Filtrar Débitos</button>
    </form>
</section>
<h1 class="titulo-pagina">Lista de Parcelas</h1>
<section class="tabela">
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 0, 'texto')">Nº PARCELA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 1, 'data')">DATA DE VENCIMENTO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 2, 'texto')">STATUS PARCELA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 3, 'numero')">VALOR PARCELA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 4, 'data')">DATA DE COMPRA</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 5, 'texto')">ITEM COMPRADO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 6, 'texto')">FORMA DE PAGAMENTO</th>
                <th class="tabela_cabecalho" onclick="ordenarTabela(this, 7, 'texto')">RESPONSAVEL</th>
            </tr>
        </thead>
        <tbody>
            {% if parcelas %}
                {% for parcela in parcelas | sort(attribute='data_compra', reverse=True) %}
                <tr onclick="editarItem(this)"
                    data-id="{{ parcela.id }}"
                    data-numero-parcela="{{ parcela.numero_parcela }}"
                    data-data-vencimento="{{ parcela.data_vencimento }}"
                    data-status-parcela="{{ parcela.status_parcela }}"
                    data-valor-parcela="{{ parcela.valor_parcela }}"
                    data-data-compra="{{ parcela.debito.data_compra }}"
                    data-item-comprado="{{ parcela.debito.item_comprado }}"
                    data-forma-pagamento="{{ parcela.formaPagamento.forma_pagamento }}"
                    data-responsavel="{{ parcela.formaPagamento.responsavel }}">

                    <td>{{ parcela.numero_parcela }}</td>
                    <td>{{ parcela.data_vencimento.strftime("%d/%m/%Y") }}</td>
                    <td>{{ parcela.status_parcela.strftime("%d/%m/%Y") }}</td>
                    <td>R$ {{ "{:,.2f}".format(parcela.valor_parcela).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>                    
                    <td>{{ parcela.debito.data_compra.strftime("%d/%m/%Y") }}</td>
                    <td>{{ parcela.debito.item_comprado }}</td>
                    <td>{{ parcela.formaPagamento.forma_pagamento }}</td>
                    <td>{{ parcela.formaPagamento.responsavel }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>


<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/debitos" method="post" id="formulario">
        <input type="hidden" id="id_debito" name="id_debito" data-id-principal>
        <div class="grupo_campo">
            <input type="text" id="editar_item_comprado" name="item_comprado" placeholder="Item Comprado" autocomplete="off">
        </div>
        <div class="grupo_campo">
            <input type="text" name="valor_debito" id="editar_valor_debito" placeholder="Valor R$" autocomplete="off" oninput="formatarMoeda(this)">
        </div>

        <div class="grupo_campo">
            <select name="id_categoria" id="editar_id_categoria">
                <option value="" disabled>Categoria: </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">
                        {{ categoria.categoria }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="grupo_campo">
            <select name="id_forma_pagamento" id="editar_id_forma_pagamento">
                <option value="" disabled>Forma de Pagamento:</option>
                {% for grupo in formas_pagamento|groupby('responsavel') %}  
                    <optgroup label="{{ grupo.grouper }}">
                        {% for formaPagamento in grupo.list %}
                            <option value="{{ formaPagamento.id }}">
                                {{ formaPagamento.forma_pagamento }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>        
        </div>

        <div class="grupo_campo">
            <select name="parcelado" id="editar_parcelado" onchange="mostrarQuantidadeParcelas()">
                <option value="" disabled>Parcelar:</option>
                <option value="true">SIM</option>
                <option value="false">NÃO</option>
            </select>
        </div>

        <div class="grupo_campo">
            <input type="number" id="editar_qnt_parcelas" name="qnt_parcelas" placeholder="Quantidade Parcelas">
        </div>

        <div class="grupo_campo">
            <button type="submit" id="enviar_formulario" formaction="/debitos/excluir">Excluir Débito</button>
            <button type="submit" id="enviar_formulario" formaction="/debitos/editar">Editar Débito</button>
        </div>
    </form>
</aside>
{% endblock %}
{% block script %}
<script src="/static/js/lista_debitos.js"></script>
<script src="/static/js/debitos.js"></script>

{% endblock %}