{% extends "base.html" %}
{% block titulo %}
Parcelas
{% endblock %}


{% block conteudo %}
<!-- ======= FILTRO DE PARCELAS ======= -->
<h1 class="titulo-pagina">Parcelas</h1>
<section class="formulario">
    <form action="/parcelas" method="get" id="formulario_filtrar">

        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra_inicio" name="data_compra_inicio" value="{{ data_compra_inicio or '' }}" placeholder="Data compra início" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_inicio">Data de Compra Ínicio</label>
        </div>
        <div class="grupo_campo campo_data">
            <input type="date" id="data_compra_final" name="data_compra_final"  value="{{ data_compra_final or '' }}" placeholder="Data compra final" autocomplete="off" onclick="this.showPicker()">
            <label for="data_compra_final">Data de Compra Final</label>
        </div>


        <div class="grupo_campo campo_data">
            <input type="date" id="data_vencimento_inicio" name="data_vencimento_inicio"  value="{{ data_vencimento_inicio or '' }}" placeholder="Data Vencimento início" autocomplete="off" onclick="this.showPicker()">
            <label for="data_vencimento_inicio">Data de Vencimento Ínicio</label>
        </div>
        <div class="grupo_campo campo_data" >
            <input type="date" id="data_vencimento_final" name="data_vencimento_final" value="{{ data_vencimento_final or '' }}" placeholder="Data Vencimento final" autocomplete="off" onclick="this.showPicker()">
            <label for="data_vencimento_final">Data de Vencimento Final</label>
        </div>


        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Status Parcela</summary>
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="status_parcela" id="status_parcela_cancelado" value="CANCELADO" {% if status_parcela and 'CANCELADO' in status_parcela %}checked {% endif %}>
                                <label for="status_parcela_cancelado">CANCELADO</label>
                            </div>
                        </div>

                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="status_parcela" id="status_parcela_pago" value="PAGO" {% if status_parcela and 'PAGO' in status_parcela %}checked {% endif %}>
                                <label for="status_parcela_pago">PAGO</label>
                            </div>
                        </div>

                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="status_parcela" id="status_parcela_pendente" value="PENDENTE" {% if status_parcela and 'PENDENTE' in status_parcela %}checked {% endif %}>
                                <label for="status_parcela_pendente">PENDENTE</label>
                        </div>
                </details>  
            </div>

            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Categoria</summary>
                    {% for categoria in categorias | sort(attribute='categoria') %}
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="id_categoria" id="id_{{ categoria.categoria }}" value="{{ categoria.id }}" {% if id_categoria and categoria.id in id_categoria %}checked {% endif %}>
                                <label for="id_{{ categoria.categoria }}">{{ categoria.categoria }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </details>
            </div>

        </div>
        
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Pagamento:</summary>
                    {% for grupo in formas_pagamento|groupby('responsavel') %}  
                        <div class="grupo_responsavel">
                            <strong>{{ grupo.grouper}}</strong>
                        </div>
                        {% for formaPagamento in grupo.list %}

                            <div class="opcao_checkbox">
                                <div class="linha_checkbox">
                                    <input type="checkbox" name="id_forma_pagamento" id="forma_{{ formaPagamento.id }}" value="{{ formaPagamento.id }}" {% if id_forma_pagamento and formaPagamento.id in id_forma_pagamento %}checked {% endif %}>
                                    <label for="forma_{{ formaPagamento.id }}">
                                        {{ formaPagamento.forma_pagamento }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_campo">
                <details class="filtroDetails">
                    <summary>Pagador resp.</summary>
                    {% for responsavel in lancamentos %}
                        <div class="opcao_checkbox">
                            <div class="linha_checkbox">
                                <input type="checkbox" name="pagador_responsavel" id="pagador_{{ responsavel }}" value="{{ responsavel }}" {% if pagador_responsavel and responsavel in pagador_responsavel %}checked {% endif %}>
                                <label for="pagador_{{ responsavel }}">{{ responsavel }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </details>  
            </div>
        </div>
        <button type="submit" id="enviar_formulario">Filtrar Parcelas</button>
    </form>
</section>

<!-- ======= TABELA DE PARCELAS ======= -->
<h1 class="titulo-pagina">Lista de Parcelas</h1>

<section class="tabela">
    <div class="botoes_acoes_lancamentos">
        <button type="button" id="btn-liquidar">
            LIQUIDAR
        </button>
        <button form="formulario_filtrar" formaction="/parcelas/" type="submit" class="botao_gerar_excel" name="acao" value="excel">
            GERAR EXCEL 
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 0, 'data')">VENC.</th>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 1, 'texto')">ITEM</th>
                <th class="tabela_cabecalho"  onclick="ordenarTabela(this, 2, 'numero')">VALOR</th>
            </tr>
        </thead>
        <tbody>
            {% if parcelas %}
                {% for parcela in parcelas | sort(attribute='data_vencimento', reverse=True) %}
                <tr onclick="editarItem(this)"
                    data-id="{{ parcela.id }}"
                    data-data-compra="{{ parcela.lancamento.data_compra }}"
                    data-item-comprado="{{ parcela.lancamento.item_comprado }}"
                    data-id-categoria="{{ parcela.lancamento.categoria.id }}"
                    data-valor-parcela="{{ parcela.valor_parcela }}"
                    data-parcela="{{ parcela.numero_parcela }}"
                    data-data-vencimento="{{ parcela.data_vencimento }}"
                    data-data-compra="{{ parcela.lancamento.data_compra }}"
                    data-pagador-responsavel="{{ parcela.lancamento.pagador_responsavel }}"
                    data-status-parcela="{{ parcela.status_parcela }}"
                    class="badge-tipo {{ parcela.lancamento.tipo_lancamento|lower }}">
                    <td class="col-data-vencimento">{{ parcela.data_vencimento.strftime("%d/%m/%Y") }}</td>
                    <td class="col-item">{{ parcela.numero_parcela }}/{{ parcela.lancamento.qnt_parcelas }} - {{ parcela.lancamento.item_comprado }}</td>
                    <td class="col-valor">
                        <span>
                            R$ {{ "{:,.2f}".format(parcela.valor_parcela).replace(",", "X").replace(".", ",").replace("X", ".") }}
                        </span>

                        <input type="checkbox" class="btn-liquidar">
                    </td> 
          
                </tr>
                {% endfor %}
                <tr class="linha-total">
                    <td colspan="2"><strong>Valor Total:</strong></td>
                    <td><strong>R$ {{ "{:,.2f}".format(valor_total).replace(",", "X").replace(".", ",").replace("X", ".") }}</strong></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Nenhuma forma de pagamento encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>

<!-- ======= MENU DE EDITAR PARCELAS ======= -->

<div class="overlay" id="overlay"></div>
<aside class="menu_editar">
    <form action="/parcelas" method="post" id="formulario_editar" data-url="/parcelas/editar" data-tipo="parcelas">
        <input type="hidden" id="id_parcela" name="id_parcela" data-id-principal>

        <div class="grupo_campo">
            <label for="item_comprado">Item Comprado</label>
            <input type="text" id="editar_item_comprado" name="item_comprado" placeholder="Item Comprado" disabled>
        </div>
        
        <div class="grupo_campo" >
            <label for="parcela_responsavel">Pagador Responsável</label>
            <input type="text" id="editar_pagador_responsavel" name="pagador_responsavel" placeholder="Pagador Responsável" disabled>
        </div>
        
        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="id_categoria">Categoria:</label>
                <select disabled name="id_categoria" id="editar_id_categoria">
                    <option value="" disabled>Categoria: </option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">
                            {{ categoria.categoria }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_campo">
                <label for="id_forma_pagamento">Pagamento:</label>
                <select disabled name="id_forma_pagamento" id="editar_id_forma_pagamento">
                    <option value="" disabled>Forma de Pagamento:</option>
                    {% for grupo in formas_pagamento|groupby('responsavel') %}  
                        <optgroup label="{{ grupo.grouper }}">
                            {% for formaPagamento in grupo.list %}
                                <option value="{{ formaPagamento.id }}">
                                    {{ formaPagamento.forma_pagamento }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>        
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="editar_parcela">Nº Parcela:</label>
                <input disabled type="number" id="editar_parcela" name="editar_parcela" placeholder="Nº Parcela">
            </div>

            <div class="grupo_campo data_vencimento_menu_editar">
                <label for="data_vencimento">Vencimento:</label>
                <input type="date" id="editar_data_vencimento" name="data_vencimento" disabled>
            </div>
        </div>

        <div class="grupo_campo_editar">
            <div class="grupo_campo">
                <label for="valor_parcela">Valor Parcela:</label>
                <input disabled type="text" name="valor_parcela" id="editar_valor_parcela" placeholder="Valor R$" autocomplete="off" oninput="formatarMoeda(this)">
            </div>

            <div class="grupo_campo">
                <label for="status_parcela">Status:</label>
                <input type="text" name="status_parcela" id="editar_status_parcela" placeholder="Status Parcela" autocomplete="off">
            </div>
        </div>

        <div class="grupo_campo botoes_formulario">
            <button type="submit" id="btn_excluir" formaction="/parcelas/excluir">Excluir Parcela</button>
            <button type="submit" id="btn_editar" formaction="/parcelas/editar">Editar Parcela</button>
        </div>
    </form>
</aside>
{% if mensagem %}
    <div class="mensagem_sucesso">
        <p> {{ mensagem }} </p>
    </div>
{% endif %}
{% endblock %}
{% block script %}
<script src="/static/js/lista_lancamentos.js"></script>
<script src="/static/js/lancamentos.js"></script>

{% endblock %}