<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/sem_login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <header class="container">
        <nav>
            <a href="#">Entrar</a>
            <span>/</span>
            <a href="#">Cadastrar-se</a>
        </nav>
    </header>
    <main class="container">
        <section id="falha_acesso">
            <p>Para ter acesso ao sistema, precisa estar conectado à uma conta, caso não tenha uma, <a href="#">cadastre-se.</a></p>
        </section>
    </main>
</body>
</html>